body {
  font-family: Arial;
  margin: 50px;
}

a {
  text-decoration: none;
  background: #febe01;
  color: #332100;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
}

h1 {
  text-align: center;
}

.item {
  background-color: #111;
  color: #b2b2b2;
  border-radius: 4px;
  margin: 20px;
  padding: 20px;
  color: #fff;
}

p {
  color: #b2b2b2;
}

span {
  color: #febe01;
}
