.introducao-bg {
  background: var(--cor-12);
  box-shadow: inset 0 0px 0 var(--cor-0); /* Adicionado valor de desfoque */
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 80px;
}

.introducao img {
  height: 100%;
  object-fit: cover;
  margin-bottom: -120px;
}

.introducao h1 {
  margin-bottom: 16px;
}

.introducao h1 span {
  color: var(--cor-p1);
}

.introducao p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .introducao-bg {
    background: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--cor-0);
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .introducao-conteudo {
    padding-bottom: 20px; /* Alterado de 0px para 20px */
  }
  .introducao img {
    height: auto; /* Alterado de height fixo para auto */
    width: 100%;
  }
}
