* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.hoje {
  color: darkred;
}

.amanha {
  color: darkblue;
}

.link {
  color: seagreen;
}

/* teste */
p {
  font-size: 20px;
}
