* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body {
  max-width: 1000px;
  background-color: #f7f7f7;
  padding: 20px;
  margin: auto;
}

h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
img {
  max-width: 100%;
}

.topo {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.menu {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  padding: 20px 30px;
}

.header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

.menu a {
  padding: 20px 40px;
  background-color: white;
  display: inline-block;
  color: black;
  border: 2px solid white;
  border-radius: 10px;
}

.menu a:hover {
  border: 2px solid #900;
}
.grid-principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
}

.introducao {
  display: grid;
  justify-items: end;
  align-items: center;
  padding: 20px;
  position: relative;
}

.introducao h1,
p,
a {
  margin: 0;
}

.introducao a {
  display: inline-block;
  padding: 20px 30px;
  background-color: red;
  color: #f7f7f7;
  border-radius: 10px;
  text-transform: uppercase;
}
.vantagens-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  align-items: center;
  background-color: #f7f7f7;
}

.vantagens-itens {
  grid-column: 2;
  display: grid;
  grid-template-columns: 40px 1fr;
  margin-bottom: 30px;
  padding: 15px;
}
.vantagens-itens img {
  grid-column: 1;
}
.vantagens-itens p {
  grid-column: 2;
}
.introducao h1::before {
  content: "";
  width: 60px;
  height: 4px;
  background-color: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
}
.vantagens-grid h2 {
  color: rgba(128, 128, 128, 0.507);
  font-size: 4rem;
  text-align: right;
  margin: auto;
}
.vantagem h2 {
  background-image: url("../img/onda.svg");

  color: #c6c6c6;
  font-size: 4rem;
  padding: 50px;
}
.vantagens-itens:nth-child(odd) {
  background-color: #f7f7f7;
}
.box {
  background-color: white;
  padding: 20px;
}

.vantagens-itens:hover {
  border-left: 2px solid red;
}

@media (max-width: 1000px) {
  .vantagens-itens {
    grid-template-columns: 1fr;
  }
  .vantagem {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .conteudo {
    grid-template-columns: 1fr;
  }
  .introducao h1::before
  }
.img-introducao img {
  object-fit: cover;
  height: 100%;
 }